@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: url("/img/noise.png"), linear-gradient(90deg, #485165 33.17%, #161e2f 100%);
}

div[data-tilt] {
    transform-style: preserve-3d;
}

.parallax-tilt {
    transform: perspective(1000px);
    transform: translateZ(70px);
}

.mask-alpha {
    mask-image: linear-gradient(black 50%, transparent 90%);
    mask-mode: alpha;
}

.scrollbar-custom {
    @apply scrollbar scrollbar-thumb-[#FDBD84] scrollbar-w-2 scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-track-white/20
}

a.active * {
    @apply text-[#FDBD84]
}


/* Style pre loader screen */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}