@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: url("/img/noise.png"), linear-gradient(90deg, #485165 33.17%, #161e2f 100%);
}

div[data-tilt] {
    transform-style: preserve-3d;
}

.parallax-tilt {
    transform: perspective(1000px);
    transform: translateZ(70px);
}

.no-parallax {
    /* Corrige le bug de profondeur sur safari */
    transform: perspective(1000px);
    transform: translateZ(800px);
    z-index: 9999 !important;
}

.mask-alpha {
    mask-image: linear-gradient(black 50%, transparent 90%);
    mask-mode: alpha;
}

.mask-alpha-to-r {
    mask-image: linear-gradient(to right, black 70%, transparent 90%);
    mask-mode: alpha;
}

.scrollbar-custom {
    @apply scrollbar scrollbar-thumb-[#FDBD84] scrollbar-w-2 scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-track-white/20
}

a.active * {
    @apply text-[#FDBD84]
}


/* Style pre loader screen */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


/* Ingrédient check list */

.tasks-list-mark:before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -4px;
    height: 6px;
    width: 9px;
    border: solid #FDBD84;
    border-width: 0 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tasks-list-cb:checked~.tasks-list-mark {
    border-color: #FDBD84;
}

.tasks-list-cb:checked~.tasks-list-mark:before {
    display: block;
}

.tasks-list-cb:checked~.tasks-list-desc {
    color: #FDBD84;
    text-decoration: line-through;
}


/* @keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    50% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    to {
        opacity: .5;
        transform: scale(0.98) translate(0);
    }
} */

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    50% {
        opacity: 1;
        transform: scale(1) translate(0);
    }
    to {
        opacity: 1;
        transform: scale(0.98) translate(0);
    }
}

ol .items-ordered {
    /* Animation */
    animation: fade 1s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
    /* Other */
    counter-increment: list;
    list-style-type: none;
    position: relative;
    margin-left: 3.5rem;
    min-height: 4rem;
}

ol .items-ordered::before {
    content: 'STEP 'counter(list);
    left: -4rem;
    text-orientation: sideways;
    position: absolute;
    writing-mode: vertical-lr;
    font-size: .8rem;
    font-weight: 400;
    color: #FDBD84;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-top: .4rem;
    letter-spacing: .1rem;
}

.card::after {
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}